header {
  display: flex;
  align-items: center;

  .スタング {
    background-color: black;
    font-family: Roboto, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    line-height: 5rem;
    padding: .8rem;

    .syllable {
      &:first-child {
        color: purple;
      }
      &:not(:first-child) {
        color: yellow;
        animation: colorchange 2000s infinite alternate;
      }

      @keyframes colorchange {
        0% {
          color: yellow;
        }
        50% {
          color: #d35400;
        }
        100% {
          color: #2980b9;
        }
      }
    }
  }

  label {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0 .8rem;
    transition: all 140ms ease-in-out;

    &:hover, &:focus-visible {
      transition: all 140ms ease-in-out;
      color: beige;
      text-shadow: 1px 0 1px darkred;
    }

    &:active {
      text-shadow: 2px 0 1px darkred;
    }
  }

  input {
    display: none;
  }
}

.languages {
  display: flex;
}

input[name="chooseLang"] {
  display: none;
}

.languages label:first-child {
  border-right: 1px solid var(--dark-color);
}

.languages label {
  cursor: pointer;
  margin: .4rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--unselected-text);
  font-weight: 600;
  text-transform: lowercase;
}

.languages label:hover {
  //color: var(--unselected-hover-text);
}

.languages label.selected {
  //color: var(--dark-color);
  cursor: default;
}
