header {
  background-color: #1b7171;
}

main[data-theme='lighter'] {
  .page {
    text-align: center;
  }

  .email a {
    color: brown;
  }

  .email a:hover {
    color: crimson;
  }

  .email a:visited {
    color: cornflowerblue;
  }

}
