body {
  * {

  }
}

@import "darker";
@import "lighter";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 22px);

  .launch-expect {
    font-family: 'Russo One', sans-serif;
    font-size: 6rem;
    font-weight: bolder;
    color: silver;
    z-index: 1;
    position: fixed;
    top: 0;
    pointer-events: none;
    padding-top: 1rem;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;


    h1 {
      font-family: 'Russo One', sans-serif;
      font-weight: 300;
      letter-spacing: 2px;
    }

    h3 {
      font-family: 'dobro', sans-serif;
      font-weight: 700;
    }

    h4 {
      font-size: 3rem;
      font-weight: 200;
    }

    .email {
      margin-bottom: 1rem;
    }

    .stackoverflow {
      margin-bottom: 3rem;
    }

    .myshows {
      transform: scale(1.5);
    }

    .intro {
      font-size: large;
    }

    .list {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;

      li {
        cursor: pointer;
        position: relative;

        .social-icon {
          img {
            //border-radius: 100% 0 50% 50% / 50% 50% 50% 50%;

            transition: all 140ms ease-in-out;

            &:hover {
              transition: all 200ms ease-in-out;
            }
          }

          .white-icon {
            background-color: #000;
          }
        }

        .lastfm {
          img {
            border-radius: 2px;

            &:hover {
              background-color: #ba0000;
            }
          }
        }

        .telegram {
          img {
            &:hover {
              background-color: #41B4E6;
            }
          }

          &.-channel {
            img {
              &:hover {
                background-color: gold;
              }
            }
          }
        }

        .letter {
          position: absolute;
          top: -.5rem;
          right: -1.4rem;
        }
      }
    }
  }

  .list li:not(:last-child) {
    margin-right: 1.8rem;
  }
}
